.intro {
    height: 100vh;
    margin: 0 auto;
    max-width: 1440px;    
    padding: 8rem 9rem;

    @include breakpoint-down(medium) {
        padding: 8rem 2rem;
    }
    &__txt {
        margin-top: 19rem;

        h1 {
            border-right: 2px solid $offBlack;
            overflow: hidden;
            position: relative;
            width: 9.475rem;
            white-space: nowrap;

        }

        p { 
            margin-top: .75rem;
            animation-delay: 5.5s;
            visibility: hidden;

            font-size: 1.4rem;
           @include breakpoint-up(medium) {
               width: 75%;
               font-size: 2.4rem;
           }
        }
    }
    
}